<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>housekeeping</string>
		<key>shortcut</key>
		<string>hkg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hours</string>
		<key>shortcut</key>
		<string>hrs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>important</string>
		<key>shortcut</key>
		<string>impt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>let me know</string>
		<key>shortcut</key>
		<string>lmk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>level of effort</string>
		<key>shortcut</key>
		<string>loe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>monday</string>
		<key>shortcut</key>
		<string>mon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Monday</string>
		<key>shortcut</key>
		<string>Mon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Monday</string>
		<key>shortcut</key>
		<string>Mon.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>non-blocking</string>
		<key>shortcut</key>
		<string>NB</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>not really</string>
		<key>shortcut</key>
		<string>nr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>people</string>
		<key>shortcut</key>
		<string>ppl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>reference</string>
		<key>shortcut</key>
		<string>ref</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>review ready</string>
		<key>shortcut</key>
		<string>rr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>review ready</string>
		<key>shortcut</key>
		<string>RR</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>saturday</string>
		<key>shortcut</key>
		<string>sat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Saturday</string>
		<key>shortcut</key>
		<string>Sat.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Sunday</string>
		<key>shortcut</key>
		<string>Sun.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thursday</string>
		<key>shortcut</key>
		<string>thurs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Thursday</string>
		<key>shortcut</key>
		<string>Thurs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thursday</string>
		<key>shortcut</key>
		<string>thurs.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Thursday</string>
		<key>shortcut</key>
		<string>Thurs.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tickets</string>
		<key>shortcut</key>
		<string>tix</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tomorrow</string>
		<key>shortcut</key>
		<string>tom</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tomorrow</string>
		<key>shortcut</key>
		<string>tomo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tuesday</string>
		<key>shortcut</key>
		<string>tues</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Tuesday</string>
		<key>shortcut</key>
		<string>Tues</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tuesday</string>
		<key>shortcut</key>
		<string>tues.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Tuesday</string>
		<key>shortcut</key>
		<string>Tues.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Wednesday</string>
		<key>shortcut</key>
		<string>Wed.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>yesterday</string>
		<key>shortcut</key>
		<string>yest</string>
	</dict>
</array>
</plist>
